<%= form_with(model: record, local: true) do |form| %>
  <div class="form-group row">
    <% if record.errors.any? %>
      <div id="error_explanation" class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved!</h4>

        <ul>
        <% record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <br>

  <div class="form-group row">
    <%= form.label :date, for: :record_date, class: "col-2 col-form-label" %>
    <div class="col-10">
      <% if form.object.date %>
        <%= form.text_field :date, id: :record_date, class: "form-control", type: "date", value: form.object.date %>
      <% else %>
        <%= form.text_field :date, id: :record_date, class: "form-control", type: "date", value: Date.parse(Time.now.in_time_zone('Pacific Time (US & Canada)').to_s) %>
      <% end %>
    </div>
  </div>

  <%= form.hidden_field :who, value: current_user.username %>

  <div class="form-group row">
    <%= form.label :description , for: :record_description, class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.text_field :description, id: :record_description, class: "form-control", list: "descriptions" %>
      <datalist id="descriptions">
        <option value="Tim Hortons">
        <option value="IGA">
        <option value="Yuki needs to pay Seb from last Month">
        <option value="Yuki's Phone">
      </datalist>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :price, for: :record_price, class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.number_field :price, id: :record_price, class: "form-control", step: '0.01', id: "test1111", min: 0.01 %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label 'For', for: :record_split, class: "col-2 col-form-label" %>
    <div class="col-10">
      <% if current_user.username == "Seb" %>
        <%= form.select :split, options_for_select(["Myself","Both", "Yuki"],:selected => form.object.split), {}, id: :record_split, class: "form-control" %>
      <% elsif current_user.username == "Yuki" %>
        <%= form.select :split, options_for_select(["Myself","Both", "Seb"],:selected => form.object.split), {}, id: :record_split, class: "form-control" %>
      <% end %>
    </div>
  </div>

  <%= form.submit(class: "btn btn-primary button-style button-size") %>
<% end %>
