<p id="notice"><%= notice %></p>

<h1>Records</h1>
<br>

<%= form_tag("/records", method: "get", class: "form-inline my-2 my-lg-0") do %>
  <%= text_field_tag(:q, "", class: "form-control mr-sm-2") %>
  <%= submit_tag("Search", class: "btn btn-outline-primary my-2 my-sm-0") %>
<% end %>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'June', "/records", class: "btn btn-secondary" %>
  <%= link_to 'July', "/records", class: "btn btn-primary" %>
</div><br><br>
<div class="btn-group" role="group" aria-label="Basic example">
  <% if @button == "ShowShared" %>
    <%= link_to 'All', "/records", class: "btn btn-secondary" %>
    <%= link_to 'Shared', "/records?utf8=✓&q=ShowShared&commit=Search", class: "btn btn-primary" %>
    <%= link_to 'Seb Alone', "/records?utf8=✓&q=ShowSebAlone&commit=Search", class: "btn btn-secondary" %>
    <%= link_to 'Yuki Alone', "/records?utf8=✓&q=ShowYukiAlone&commit=Search", class: "btn btn-secondary" %>
  <% elsif @button == "ShowSebAlone" %>
    <%= link_to 'All', "/records", class: "btn btn-secondary" %>
    <%= link_to 'Shared', "/records?utf8=✓&q=ShowShared&commit=Search", class: "btn btn-secondary" %>
    <%= link_to 'Seb Alone', "/records?utf8=✓&q=ShowSebAlone&commit=Search", class: "btn btn-primary" %>
    <%= link_to 'Yuki Alone', "/records?utf8=✓&q=ShowYukiAlone&commit=Search", class: "btn btn-secondary" %>
  <% elsif @button == "ShowYukiAlone" %>
    <%= link_to 'All', "/records", class: "btn btn-secondary" %>
    <%= link_to 'Shared', "/records?utf8=✓&q=ShowShared&commit=Search", class: "btn btn-secondary" %>
    <%= link_to 'Seb Alone', "/records?utf8=✓&q=ShowSebAlone&commit=Search", class: "btn btn-secondary" %>
    <%= link_to 'Yuki Alone', "/records?utf8=✓&q=ShowYukiAlone&commit=Search", class: "btn btn-primary" %>
  <% else %>
    <%= link_to 'All', "/records", class: "btn btn-primary" %>
    <%= link_to 'Shared', "/records?utf8=✓&q=ShowShared&commit=Search", class: "btn btn-secondary" %>
    <%= link_to 'Seb Alone', "/records?utf8=✓&q=ShowSebAlone&commit=Search", class: "btn btn-secondary" %>
    <%= link_to 'Yuki Alone', "/records?utf8=✓&q=ShowYukiAlone&commit=Search", class: "btn btn-secondary" %>
  <% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Who</th>
      <th>Description</th>
      <th>Split</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.date %></td>
        <td><%= record.who %></td>
        <td><%= record.description %></td>
        <td><%= record.split %></td>
        <td><%= '%.2f' % record.price %>$</td>
        <td><%= link_to 'Edit', edit_record_path(record), class: "btn btn-secondary button-style btn-sm"  %> <%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger button-style btn-sm"  %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', new_record_path, class:" btn btn-primary button-style button-size" %>

<br> <br>

<div class="card text-center">
  <div class="card-header">
    Calculations
  </div>
  <div class="card-block">
    <h4 class="card-title">Seb</h4>
    <p class="card-text">
      Alone: <%= @seb_sum %>$<br>
      Split: <%= @seb_sum_split %>$<br>
      Non Split: <%= @seb_sum_non_split %>$<br>
      Total Spent: <%= @seb_sum + (@seb_sum_split / 2) + @yuki_sum_non_split%>
    </p>
    <hr>
    <h4 class="card-title">Yuki</h4>
    <p class="card-text">
      Alone: <%= @yuki_sum %>$<br>
      Split: <%= @yuki_sum_split %>$<br>
      Non Split: <%= @yuki_sum_non_split %>$<br>
      Total Spent: <%= @yuki_sum + (@yuki_sum_split / 2) + @seb_sum_non_split%>
    </p>
    <hr>
    <p class="card-text">
      <% sebOwe = (@yuki_sum_split / 2) + @yuki_sum_non_split %>
      <% yukiOwe = (@seb_sum_split / 2) + @seb_sum_non_split %>
      <strong>
        Seb owes Yuki : <%= '%.2f' % sebOwe %>$<br>
        Yuki owes Seb : <%= '%.2f' % yukiOwe %>$ <br><br>
        <% if sebOwe > yukiOwe %>
          At the end of this month, Seb needs to pay Yuki: <%= '%.2f' % (sebOwe - yukiOwe) %>$.
        <% else %>
          At the end of this month, Yuki needs to pay Seb: <%= '%.2f' % (yukiOwe - sebOwe) %>$.
        <% end %>
      </strong>
    </p>
  </div>
</div>.
