<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @record.date %>
</p>

<p>
  <strong>Who:</strong>
  <%= @record.who %>
</p>

<p>
  <strong>Description:</strong>
  <%= @record.description %>
</p>

<p>
  <strong>Split:</strong>
  <%= @record.split %>
</p>

<p>
  <strong>Price:</strong>
  <%= @record.price %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
